<h1>Manage Comments</h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <strong><%= comment.user.name %></strong>: <%= comment.body %>
      <%= link_to 'Delete', admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
