<!-- app/views/user_mailer/login_notification.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Notification</title>
</head>
<body>
  <h1>Hello <%= @user.username %>,</h1>
  <p>Your login to the Forum was successful.</p>
  <p>Thank you for using our service!</p>
</body>
</html>
