<h1>Admin Dashboard</h1>

<h2>Manage Users</h2>
<%= link_to 'Users', admin_users_path %>

<h2>Manage Articles</h2>
<%= link_to 'Articles', admin_articles_path %>

<h2>Manage Comments</h2>
<%= link_to 'Comments', admin_comments_path %>
